h1{
    border-width:2px;
    border-style: dashed;
    border-color: black;
}
div {
    border: 2px solid rgb(0, 0, 0);
    height:300px;
    width: 400px;
    background-color: antiquewhite;
    padding: 35px;
    margin-bottom: 15px;
}
button{
    border:2px solid rgb(0, 0, 0);
    border-radius: 15%;
    padding:10px 5px;
}