#container {
    display: grid;
    width: 600px;
    height: 300px;
    background-color: rgb(238, 255, 0);
    grid-template-rows:repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    place-items: center;

}
#item.one {
    /* grid-column-start:1;
    grid-column-end: 3; */
    grid-column: 1 / span 2;
    background-color: rgb(64, 255, 0);
    justify-self: end;
   
}
.two {
    background-color: rgb(64, 255, 0);
    grid-row:2 / span 5;
    justify-self: end;
    align-self: end;
}
#item {
    width:50px;
    height: 50px;
    border: 2px solid ;
    background-color:rgb(64,255,0);
    grid-column-start:2;
    grid-column-end: 3;
}