#face {
    background-color: yellow;
    border:4px solid black;
    height:400px;
    width:400px;
    margin:10px;
    margin-top:80px;
    border-radius: 50%;
}
#mouth {
    height: 75px;
    width:200px;
    background-color: red;
    border-radius:0px 0px 120px 120px;
    position:absolute;
    top:340px;
    left:120px;
}