div {
    height:250px;
    width:250px;
    border: 2px solid black;
    background-color: antiquewhite;
    background-image: url("./WhatsApp\ Image\ 2025-06-27\ at\ 13.19.06_87900dda.jpg");
    background-size: contain;
    text-align: center;
    text-transform: capitalize;
    text-decoration:underline;
}