h1{
    text-transform: uppercase;
    text-align: center;
    color: #ffa511;
    font-family:League spartan;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal underline double;
}