h1{
    text-align: center;
}
h3{
     text-align: center;
     color:black;
}

body{
    font-family: Georgia;
}
a{
    color: rgb(0,255,0);
    text-decoration:none;
}

p{
    color: #964B00;
    color: red;
}
button{
    background-color:white;
    color: blueviolet;
}