.element{
    margin: 300px 300px 300px 300px;
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: Poppins;
    font-weight: 600;
    font-size:1.5em;
    animation: spin 4s linear 0 1 normal;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
        border-radius:0%;
        scale:0;
    }
    50%{
        transform: rotate(0deg);
        border-radius:0%;
        scale:2;
    }
    100%{
        transform: rotate(360deg);
        border-radius:50%;
        scale:2;
    }
}