#box {
    height:50px;
    width:600px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(209, 177, 177);
    border: 2px solid beige;
    animation-name: animate;
    animation-duration:4s;
    animation-timing-function:  ease ;
    animation-delay: 0;
    animation-iteration-count:  2;
    animation-direction: normal;
}
@keyframes animate {
    0% {
        height:100px;
        width:300px;
        background-color:rgb(255, 136, 18);
        color: black;
        transform:rotate(-20deg);
        scale:0.5;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    30% {
        height:150px;
        width:150px;
        background-color:rgb(116, 244, 24);
        text-align: center;
        padding: 10%;
        scale:1.5;
        border-radius: 10%;
        color: black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    50%{
        height:150px;
        width:300px;
        
        color:white;
        background-color:rgb(0, 60, 255);
        text-align: center;
        scale:0.8;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    100% {
        height:50px;
        width:600px;
        color:red;
        font-size: larger;
        font-weight: 800;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color:yellow;
    }
}