#container{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap:10px;
}
#container div {
    
    background-color: pink;
    font-size: 1.5em;
}
.header {
    grid-column: 1 / span 12;
}
.side{
    grid-column:1/span 3;
    grid-row: 2/span 10;
}
.nav {
    grid-column:4 /span 6;
    grid-row: 2/ span 1;
}
.ads {
    grid-column: 10/span 3;
    grid-row:2 / span 10;
}
.main {
    grid-column: 4 /span 6;
    grid-row:3 /span 9;
}
.footer {
    grid-column: 1/span 12;
}

@media(max-width:720px) {
    .nav {
        grid-column:1 /span 13;
        grid-row: 2;
    }
    .side{
        grid-column:1/span 3;
        grid-row: 6/span 8;
    }
    .ads {
        grid-column: 1/span 13;
        grid-row:2 / span 4;
    }
    .main {
        grid-column: 4 /span 12;
        grid-row:6 /span 8;
    }
}