h2{
    color:rgb(21, 11, 210)
}
span{
    color:rgb(1, 1, 90)
}
h1 {
    text-align: center;
}
img {
    width:380px;
    height:200px;
    border-radius: 25px;
}
button{
    margin:10px auto;
    background-color: white;
    font-size: 18px;
    text-align: center;
}
button:hover{
    background-color:rgb(46, 255, 115);
    text-align: center;
    font-size: 20px;
}
#pets {
     
     display:flex;
     flex-direction: row;
     justify-content: space-evenly;
}
.card {
    width:400px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
    box-shadow: 5px 5px 10px grey;
}