h1 {
    text-align: center;
}
#container {
    height: 300px;
    width: 100%;
    background-color: aliceblue;
    margin:10px auto;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    /* justify-content: space-between; */
    flex-wrap:wrap;
    /* align-items:baseline; */
    justify-content: baseline;
    align-items: flex-start;
}
#container div {
    height:50px;
    width:100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.5em;   
}
#org {
    align-self:flex-start;
}
#blue {
    flex-basis: 80px;
    flex-grow: 4;
}