*{
    margin: 0;
    padding: 0;
    
}
#head{
    height:280px;
    width:500px;
    background-color: aliceblue;
    position: fixed;
    margin:90px;
    border:5px 5px 10px rgb(0, 0, 0);
    padding: 20px;
}
#head div h1 i{
    font-family: Tahoma, sans-serif;
    letter-spacing: 1.5px;
    line-height:60px;
    color: rgb(3, 65, 136);
    font-size: 1.8em;
    font-weight:700;
}
#head p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(1, 1, 8);
    font-weight: 500;
    font-size: 1.2rem;
    text-align:left;
    text-transform: capitalize;
    text-decoration: underline;
    line-height: 20px;
}
.main_box {
    background-color:rgba(0, 94, 255, 0.3);
    height:100vh;
    background-size: cover;
}
.btn_one {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    position:absolute;
    left:15px;
    line-height: 60px;
    cursor: pointer;
}
.sidebar_menu {
    position:fixed;
    left:-400px;
    height:100vh;
    width: 25%;
    background-color:rgba(11, 51, 183, 1);
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5); 
}
.sidebar_menu .logo {
    width:100%;
    line-height: 60px;
    box-shadow: 0 0 6px rgba(255,255,255,0.5); 
}
.sidebar_menu .logo a{
    cursor: pointer;
    position:absolute;
    left:80px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color:white;
}
.menu {
    margin-top:80px;
}
.sidebar_menu .btn_two {
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position:absolute;
    left:300px;
    opacity: 1.0;
    cursor: pro;
}
.sidebar_menu .menu li {
    margin-top: 10px;
    padding:10px 20px; 
}
#check {
    display: none;
}
.sidebar_menu .menu i,a {
    color:#fff;
    text-decoration: none;font-size: 18px;
}
.sidebar_menu.menu i {
    padding-right: 100px;
}
.sidebar_menu .social_media ul i {
    opacity: 0.4;
    color: #fff;
    margin-top: 180px;
    padding: 2px;
    margin-left: 20px;
    
}
.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgb(195, 192, 192);
    font-family: 'Courier New', Courier, monospace;
}
.btn_one i:hover {
    font-size: 35px;
}
.btn_two:hover {
    font-size:30px;
}
.sidebar_menu .social_media i:hover {
    opacity:1;
    transform: scale(1.2);
}
#check:checked ~ .sidebar_menu {
    left:0;
}