div {
    height:100px;
    width:100px;
    background-color: green;
    text-align: center;
    border:3px solid black;
    display: inline-block;
    margin:20px;
}
#static {
    background-color: yellow;
    position: static;
    top:100px;
    left:100px;
}
#Relative {
    background-color: yellow;
    position: relative;
    top:100px;
    left:100px;
}
#Absolute {
    background-color: yellow;
    position: absolute;
    top:100px;
    left:100px;
}
#Fixed {
    background-color: yellow;
    position: fixed;
    top:500px;
    left:150px;
}